<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LOGIN </title>
</head>
<body>
    <h2> LOGIN - Acessar o Sistema </h2>
    <form action="/login" method="post" name="logar" id="logar">
        <label for="email"> E-mail: </label>
        <input type="email" name="email" id="email" required/>
        <label for="senha"> Senha: </label>
        <input type="password" name="senha" id="senha" required/>
        <input type="submit" id="entrar" name="entrar" value="ENTRAR">
    </form>
    <br/>
    <p> Não possui Login? <a href="/cadastrar">Cadastre-se</a> </p>
</body>
</html>