<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Obter Livro</title>
</head>
<body>
  <h2>Obter Livro: <%= livro.titulo %></h2>

    <% if (livro.imagem) { %>
      <img src="/uploads/<%= livro.imagem %>" width="200" height="300" alt="Imagem do Livro">
    <% } else { %>
      Sem imagem
    <% } %>

    <br/><br/>

  <form action="/obter-livro/<%= livro.id_livro %>" method="POST">
    <label>Status da Leitura:</label>
    <select name="status_leitura" required>
      <option value="Não iniciado">Não iniciado</option>
      <option value="Em andamento">Em andamento</option>
      <option value="Concluído">Concluído</option>
    </select><br/><br/>

    <button type="submit" id="salvar" name="salvar">Salvar</button>
    <button><a href="/perfil">Voltar</a></button>
  </form>
</body>
<script src="/js/scriptObterLivro.js"></script>
</html>
